:host {
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  > * {
    margin: 0 0.15rem;
    transition: 100ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      transform: scale(1.1);
    }
  }
}

nz-input-number, nz-date-picker {
  width: 100%;
}

nz-select {
  width: 4.5rem;
}
.tr-fo {
  display: flex;
  flex-flow: column nowrap;
  .fo-el-wr {
    margin: 0.1rem 0;
    display: grid;
    grid-template-columns: 10rem 1fr;
    @media screen and (max-width: 360px) {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
  }
}
