<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="actions">
        @if (!doEdit) {
            <button (click)="onAction('edit')" class="edt-bt" nz-button nzType="primary" nzShape="circle">
                <span nz-icon nzType="edit" nzTheme="fill"></span>
            </button>

            <button (click)="onAction('delete')"  class="dlt-bt" nz-button nzType="primary"  nzShape="circle">
                <span nz-icon  nzType="delete" nzTheme="fill"></span>
            </button>
        } @else {
            <button (click)="onAction('cancel')" class="cnl-bt" nz-button nzType="primary" nzShape="circle">
                <span nz-icon nzType="close" nzTheme="outline"></span>
            </button>
            <button (click)="onAction('save')" class="sve-bt" nz-button nzType="primary" nzShape="circle">
                <span nz-icon nzType="save" nzTheme="fill"></span>
            </button>
        }


    </div>

    <div class="tr-fo">
        <div class="fo-el-wr">
            <nz-radio-group formControlName="transactionType">
                <label nz-radio nzValue="Buy">{{ 'buy' | translate }}</label>
                <label nz-radio nzValue="Sell">{{ 'sell' | translate }}</label>
            </nz-radio-group>
        </div>

        <div class="fo-el-wr">
            <nz-form-label>{{ 'total' | translate }}</nz-form-label>
            <nz-input-group [nzAddOnAfter]="currencyAddOn">
                <nz-input-number [nzReadOnly]="true" formControlName="total"></nz-input-number>
            </nz-input-group>
        </div>

        <div class="fo-el-wr">
            <nz-form-label nzRequired>{{ 'price-per-share' | translate }}</nz-form-label>
            <nz-input-group [nzAddOnAfter]="currencyAddOn">
                <nz-input-number formControlName="transactionPrice"></nz-input-number>
            </nz-input-group>
        </div>

        <div class="fo-el-wr">
            <nz-form-label nzRequired>{{ 'quantity' | translate }}</nz-form-label>
            <nz-input-number formControlName="quantity"></nz-input-number>
        </div>

        <div class="fo-el-wr">
            <nz-form-label>{{ 'commission' | translate }}</nz-form-label>
            <nz-input-group [nzAddOnAfter]="currencyAddOn">
                <nz-input-number formControlName="commission"></nz-input-number>
            </nz-input-group>
        </div>

        <div class="fo-el-wr">
            <nz-form-label>{{ 'tax' | translate }}</nz-form-label>
            <nz-input-group [nzAddOnAfter]="currencyAddOn">
                <nz-input-number formControlName="tax"></nz-input-number>
            </nz-input-group>
        </div>



        <div class="fo-el-wr">
            <nz-form-label>{{ 'date' | translate }}</nz-form-label>
            <nz-date-picker formControlName="transactionDate"></nz-date-picker>
        </div>

        <div class="fo-el-wr">
            <nz-form-label>{{ 'notes' | translate }}</nz-form-label>
            <textarea nz-input formControlName="notes" nzAutosize></textarea>
        </div>
        <ng-template #currencyAddOn>
            <nz-select formControlName="currency">
                @for (cur of CurrenciesConstant | keyvalue; track cur) {
                    <nz-option [nzLabel]="cur.value | translate" [nzValue]="cur.key"></nz-option>
                }
            </nz-select>
        </ng-template>
    </div>
</form>
<button nz-button (click)="test()" nzType="primary" nzDanger nzShape="circle">
   formlog
</button>

<!--        <div class="fo-el-wr">-->
<!--            <nz-form-label nzRequired>{{ 'currency' | translate }}</nz-form-label>-->
<!--            <nz-select formControlName="currency">-->
<!--                @for (cur of CurrenciesConstant | keyvalue; track cur) {-->
<!--                    <nz-option [nzLabel]="cur.value | translate" [nzValue]="cur.key"></nz-option>-->
<!--                }-->
<!--            </nz-select>-->
<!--        </div>-->