<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="form-con">
        <nz-radio-group formControlName="transactionType">
            <label nz-radio nzValue="Buy">{{ 'buy' | translate }}</label>
            <label nz-radio nzValue="Sell">{{ 'sell' | translate }}</label>
        </nz-radio-group>

        <nz-select [nzPlaceHolder]="'asset' | translate" formControlName="assetType">
            @for (asset of AssetTypeConstant; track asset) {
                <nz-option [nzLabel]="asset | translate" [nzValue]="asset"></nz-option>
            }
        </nz-select>

        <input nz-input placeholder="{{ 'name' | translate }}" formControlName="label" type="text"/>

        <nz-radio-group (ngModelChange)="onPriceSelect()" [(ngModel)]="priceSelectTotal" [ngModelOptions]="{standalone: true}">
            <label nz-radio [nzValue]="true">Price total</label>
            <label nz-radio [nzValue]="false">Price per share</label>
        </nz-radio-group>

        <nz-input-group nzCompact>
            @if (priceSelectTotal) {
                <nz-input-number [nzPlaceHolder]="'total' | translate"
                                 formControlName="transactionPrice"
                                 [style]="isTransactionTypeSell ? 'width: 40%' : 'width: 50%'"></nz-input-number>
                <nz-input-number [nzPlaceHolder]="'commission' | translate"
                                 formControlName="commission"
                                 style="width: 40%"></nz-input-number>
            } @else {
                <nz-input-number [nzPlaceHolder]="'per-share' | translate"
                                 formControlName="transactionPrice"
                                 [style]="isTransactionTypeSell ? 'width: 40%' : 'width: 50%'"></nz-input-number>
                <nz-input-number [nzPlaceHolder]="'quantity' | translate"
                                 formControlName="quantity"
                                 style="width:15%"></nz-input-number>
                <nz-input-number [nzPlaceHolder]="'commission' | translate"
                                 formControlName="commission"
                                 style="width: 25%"></nz-input-number>
            }
            @if (isTransactionTypeSell) {
                <nz-input-number [nzPlaceHolder]="'tax' | translate"
                                 formControlName="tax"
                                 style="width: 10%"></nz-input-number>
            }

            <nz-select [nzPlaceHolder]="'currency' | translate"
                       formControlName="currency"
                       style="width: 10%">
                @for (cur of CurrenciesConstant | keyvalue; track cur) {
                    <nz-option [nzLabel]="cur.value | translate" [nzValue]="cur.key"></nz-option>
                }
            </nz-select>

        </nz-input-group>

        <nz-date-picker formControlName="transactionDate"></nz-date-picker>

        <textarea nz-input formControlName="notes" nzAutosize placeholder="{{ 'notes' | translate }}"></textarea>
    </div>
    <button [disabled]="transactionForm.invalid" nz-button nzType="primary">{{ 'save' | translate }}</button>
</form>
