//:host {
//  height: 100%;
//  width: 100%;
//}
//div:first-child {
//  padding: var(--element-padding);
//  overflow: auto;
//  border-radius: 5px;
//}


.chart-con {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}