<!--@defer (when chartData.length > 0) {-->
<!--    <div style="width: 100%; height: 100%;">-->
<!--        <canvas-->
<!--                baseChart-->
<!--                [datasets]="chartData"-->
<!--                [labels]="chartLabels"-->
<!--                [options]="chartOptions"-->
<!--                [type]="'line'"-->
<!--                [legend]="false"-->
<!--                (chartHover)="onChartHover($event)"-->
<!--                (chartClick)="onChartClick($event)"-->
<!--        ></canvas>-->
<!--    </div>-->
<!--}-->
<!--@if (show) {-->
    <div class="chart-con">
        <canvas baseChart
                [legend]="false"
                type="line"
                [options]="options"
                [data]="chartDataSignal()"></canvas>
    </div>

<!--}-->

<button (click)="log()">
    log
</button>