@import 'assets/styles/variables';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background: $background-color;
}

.bt-mr {
  margin-right: 0.25rem;
}

.form-con {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 0.5rem;
}

@mixin action-buttons($background, $hover-active-focus) {
  background: $background;
  border-color: $background;
  transition: 100ms ease-in;
  &:hover,
  &:active,
  &:focus {
    transform: scale(1.1);
    background: $hover-active-focus;
    border-color: $hover-active-focus;
  }
}

.edt-bt, .cnl-bt {
  @include action-buttons(#8E8E93, #AEAEB2);
}

.sve-bt {
  @include action-buttons(#248A3D, #34C759);
}

.dlt-bt {
  @include action-buttons(#D70015, #FF3B30);
}
